# Object files
*.o

# Executables

# macOS folder attributes
.DS_Store

# ETHZ polybox
.owncloudsync.log
.sync_*

# Editors & build dirs
build/
build17/
build18/
cmake-build-debug/
.idea/
.vscode

# Ignore AST files (for now)
*.ast
*.ast.json
overall_stats

# Ignore llvm-lit temporary output
test/unit/**/Output
